<app-title [title]="title()" showVegetariano showVolver/>

<!--Template para definir la opción del autocomplete de Menú -->
<ng-template
  #menuTemplate
  let-opcion>
            <span class="flex items-center gap-4">
              <span class="flex items-center">
                <span>{{ opcion.nombre }}</span>
                @if (opcion.vegetariano) {
                  <mat-icon class="text-green-600">eco</mat-icon>
                }
              </span>
            </span>
</ng-template>

<app-form (submit)="onSubmit()" [formGroup]="form">
  <app-select
    [abstractControl]="form.get('dia')"
    [opciones]="diasDeSemanaOptions"
    label="Día del Menú Diario"
    placeholder="Seleccione un día para el menú diario"
  />
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    @for (campo of camposDeMenus; track campo.nombre) {
      <app-autocomplete
        [label]="loading ? 'Cargando...' : campo.label"
        [abstractControl]="form.get(campo.nombre)"
        [opciones]="campo.menus"
        [placeholder]="('Seleccioná un ' + campo.label.toLowerCase())"
        [displayWithFn]="displayFn"
        [optionTemplate]="menuTemplate"
      />
    }
  </div>
  <app-form-state [error]="error" [loading]="loading">
    @if (relatedData.length === 0) {
      <mat-error>No hay ningún menú</mat-error>
      @if (authService.hasPermission('crear:menu')) {
        <a routerLink="/menu/create" mat-button class="-ms-3">Creá alguno para poder continuar</a>
      }
    } @else {
      @for (campo of camposDeMenus; track campo.nombre) {
        @if (campo.menus.length === 0) {
          <mat-error>No hay ningún menú {{ campo.vegetariano ? '' : 'no ' }}vegetariano</mat-error>
          <a routerLink="/menu/create" [queryParams]="campo.vegetariano ? { vegetariano: campo.vegetariano } : {}"
             mat-button class="-ms-3">Creá alguno para poder continuar</a>
        }
      }
    }
  </app-form-state>
  <app-submit-button [disabled]="form.disabled" [error]="error" [form]="form" [loading]="loading"
                     [pendingText]="submittingText()" [tooltipMessage]="tooltipMessage">{{ title() }}
  </app-submit-button>
</app-form>
