<app-title title="Modificar Usuario" [showVolver]="true"/>

<app-form [formGroup]="form" (submit)="onSubmit()">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <app-input
      label="DNI"
      type="text"
      placeholder="12345678"
      [abstractControl]="this.form.get('dni')"
      minLength="7"
      maxLength="8"
      [readonly]="true"
      tooltipMessage="El DNI no puede ser modificado"
    />
    <app-input
      label="Nombre"
      type="text"
      placeholder="Ingrese su nombre"
      [abstractControl]="form.get('nombre')"
      minLength="3"
      maxLength="255"
    />
    <app-input
      label="Apellido"
      type="text"
      placeholder="Ingrese su apellido"
      [abstractControl]="this.form.get('apellido')"
      minLength="3"
      maxLength="255"
    />
    <app-input
      label="Email"
      type="email"
      placeholder="ejemplo@gmail.com"
      [abstractControl]="this.form.get('email')"
      minLength="3"
      maxLength="255"
    />
  </div>
  <app-input
    label="URL de la Imagen de Perfil"
    type="text"
    placeholder="https://www.ejemplo.com"
    [abstractControl]="this.form.get('urlImagen')"
    minLength="7"
    maxLength="255"
  />
  <app-form-state [loading]="loading" [error]="error"/>
  <app-submit-button [form]="form" [pendingText]="'Modificando Usuario'" [error]="error" [disabled]="form.disabled">Modificar Usuario
  </app-submit-button>
</app-form>
