<app-title [title]="title()" femenino showVegetariano showVolver/>

<!--Template para definir la opción del autocomplete de Comida -->
<ng-template #comidaTemplate let-opcion>
  <span class="flex items-center gap-4">
      <div class="flex justify-center items-center w-14 h-14 my-1 ms-2">
            <img [src]="opcion.urlImagen"
                 alt=""
                 class="object-cover aspect-square image w-full h-full"
                 defaultImage
                 matTooltip
            >
      </div>
      <span class="flex items-center">
          <span>{{ opcion.nombre }}</span>
        @if (opcion.vegetariana) {
          <mat-icon class="text-green-600">eco</mat-icon>
        }
      </span>
  </span>
</ng-template>

<app-form (submit)="onSubmit()" [formGroup]="form">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <app-input
      [abstractControl]="form.get('nombre')"
      label="Nombre del menú"
      maxLength="255"
      minLength="3"
      placeholder="Nombre"
      type="text"
    />
    <app-input
      [abstractControl]="form.get('precio')"
      floatLabel="always"
      label="Precio del menú"
      placeholder="0"
      textPrefix="$&nbsp;"
      type="number"
    />
  </div>
  <mat-checkbox formControlName="vegetariano">¿Es vegetariano?</mat-checkbox>
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    @for (campo of camposDeComida; track campo.nombre) {
      <app-autocomplete
        [label]="loading ? 'Cargando...' : tipoComidaToString(campo.tipoComida)"
        [abstractControl]="form.get(campo.nombre)"
        [opciones]="campo.comidas"
        [placeholder]="('Seleccioná un' + (campo.masculino ? '' : 'a') + ' ' + tipoComidaToString(campo.tipoComida))"
        [displayWithFn]="displayFn"
        [optionTemplate]="comidaTemplate"
        [required]="false"
        (onChange)="updateComidasValidity()"
      />
    }
  </div>
  <app-form-state [error]="error" [loading]="loading">
    <!--    Muestra mensajes para los diferentes casos donde faltan uno o varios tipos de comidas-->
    @if (camposSinComidas.length === 4) {
      <mat-error>No hay ninguna comida (entrada, plato principal, postre o
        bebida) {{ this.form.get("vegetariano")?.value ? 'vegetariana' : '' }}
      </mat-error>
      @if (puedeCrearComida) {
        <a routerLink="/comida/create" mat-button class="-ms-3">Creá alguna para poder continuar</a>
      }
    } @else {
      @if (camposSinComidas.length === 1) {
        <mat-error>
          {{ getTextoSinComidas(camposSinComidas[0]) }}
        </mat-error>
        @if (puedeCrearComida) {
          <a
            routerLink="/comida/create"
            [queryParams]="getQueryParams(camposSinComidas[0])"
            mat-button class="-ms-2">
            Creá algun{{ camposSinComidas[0].masculino ? 'o' : 'a' }} acá
          </a>
        }
      } @else if (camposSinComidas.length > 1) {
        <mat-error>
          {{ getTextoSinComidasMultiple(camposSinComidas) }}
        </mat-error>
        @if (puedeCrearComida) {
          <span class="ms-1">
              Creá {{ camposSinComidas[0].masculino ? 'algún' : 'alguna' }}
            @for (campo of camposSinComidas; track campo.nombre) {
              <a
                routerLink="/comida/create"
                [queryParams]="getQueryParams(campo)"
                mat-button>
                  {{ tipoComidaToString(campo.tipoComida).toLowerCase() }}
                </a>{{ !$last ? ' /' : '' }}
            }
            {{ this.form.get("vegetariano")?.value ? ('vegetarian' + (camposSinComidas[camposSinComidas.length - 1].masculino ? 'o' : 'a')) : '' }}
            acá.
            </span>
        }
      }
    }
  </app-form-state>
  <app-submit-button [disabled]="form.disabled" [error]="error" [form]="form" [loading]="loading"
                     [pendingText]="submittingText()" [tooltipMessage]="tooltipMessage">{{ title() }}
  </app-submit-button>
</app-form>
