<mat-card appearance="outlined" class="w-full h-full">
    <mat-card-header class="flex justify-between">
        <mat-card-title>{{ comida.nombre }}</mat-card-title>
        <mat-card-subtitle>${{ comida.precio }}</mat-card-subtitle>
        <div>
            @if (permisos.aniadir_al_carrito?.allowed) {
                <button
                        mat-icon-button
                        aria-label="Añadir al carrito"
                        matTooltip="Añadir al carrito"
                        matTooltipShowDelay="500"
                        (click)="pedidoService.addItem({itemId: comida.id, cantidad: 1})">
                    <mat-icon class="text-blue-500">add_shopping_cart</mat-icon>
                </button>
            }
            @if (comida.vegetariana) {
                <mat-icon
                        class="text-green-600 ml-2"
                        matTooltip="Es vegetariana"
                        matTooltipShowDelay="500"
                >
                    eco
                </mat-icon>
            }
        </div>
    </mat-card-header>
    <mat-card-content class="my-4">
        <div class="flex flex-col gap-4">
            <div class="flex justify-between gap-2">
                <div>
                    <p class="text-sm">{{ tipoComidaToString(comida.tipoComida) }}</p>
                    <p class="text-lg">{{ comida.nombre }}</p>
                </div>
                <div class="flex justify-center items-center w-20 h-20 border image-container">
                    <img
                            [alt]="comida.nombre"
                            [src]="comida.urlImagen"
                            class="object-cover aspect-square w-full h-full"
                            defaultImage
                            matTooltip
                    />
                </div>
            </div>
        </div>
    </mat-card-content>
    <app-entity-card-actions
            (deleteClick)="openDialogEliminar()"
            [editId]="comida.id"
            [showButtons]="showButtons"
            [entity]="Entidad.COMIDA"
            [permisos]="permisos"
    />
</mat-card>
