<app-title title="Iniciar sesión"/>


<app-form [formGroup]="loginForm" (submit)="onSubmit()" maxWidth="max-w-lg">
  <app-input
    label="DNI"
    type="text"
    placeholder='12345678'
    [abstractControl]="this.loginForm.get('dni')"
    minLength="7"
    maxLength="8"
  />
  <app-input
    label="Contraseña"
    type="password"
    placeholder="************"
    [abstractControl]="this.loginForm.get('clave')"
    minLength="6"
    maxLength="30"
  />

  @if (loginError()) {
    <mat-error>Credenciales incorrectas</mat-error>
  }

  <app-submit-button [form]="loginForm" pendingText="Ingresando" [disabled]="loginForm.disabled">Ingresar</app-submit-button>
</app-form>
