<app-title title="Iniciar sesión"/>


<app-form (submit)="onSubmit()" [formGroup]="loginForm" maxWidth="max-w-lg">
  <app-input
    [abstractControl]="this.loginForm.get('dni')"
    label="DNI"
    maxLength="8"
    minLength="7"
    placeholder='12345678'
    type="text"
  />
  <app-input
    [abstractControl]="this.loginForm.get('clave')"
    label="Contraseña"
    maxLength="30"
    minLength="6"
    placeholder="************"
    type="password"
  />

  @if (loginError()) {
    <mat-error>Credenciales incorrectas</mat-error>
  }

  <app-submit-button [disabled]="loginForm.disabled" [form]="loginForm" pendingText="Ingresando">Ingresar
  </app-submit-button>
</app-form>
