<app-title [femenino]="esFemenino" [title]="this.title" showVegetariano/>

@if (error) {
  <div class="flex justify-center items-center mt-20 text-2xl">
    <mat-icon class="error">error</mat-icon>
    <span class="ml-2">Error al cargar {{ (esFemenino ? 'las' : 'los') + ' ' + title }}</span>
  </div>
} @else if (loading) {
  <div class="flex justify-center items-center mt-20 text-2xl">
    <mat-spinner></mat-spinner>
  </div>
} @else if (items.length === 0) {
  <div class="flex justify-center items-center mt-20 text-2xl">
    <mat-icon class="error">warning</mat-icon>
    <span class="ml-2">No hay {{ title }} disponibles</span>
  </div>
  @if (canCreate) {
    <span class="flex justify-center mt-4">
      <a mat-button [routerLink]="creationUrl">Creá un{{ esFemenino ? 'a' : 'o' }} ahora</a>
    </span>
  }
} @else {
  <div [class]="'grid gap-4 ' + gridCols">
    @for (item of items; track item) {
      <ng-container
        *ngTemplateOutlet="itemTemplate; context: { $implicit: item.data, onDelete: handleDelete.bind(this), permisos: item.permisos }"></ng-container>
    }
  </div>
}
