<h2 mat-dialog-title>Confirmar modificación</h2>

<mat-dialog-content class="my-4">
  <p>¿Está seguro de que desea modificar los datos?</p>

  <form [formGroup]="form"> <!-- Agregamos el formGroup aquí -->
    <mat-form-field class="w-full">
      <mat-label>Ingrese su contraseña</mat-label>
      <input matInput type="password" formControlName="password" required>
      <mat-error *ngIf="form.controls['password'].invalid && form.controls['password'].touched">
        La contraseña es requerida y debe tener al menos 6 caracteres.
      </mat-error>
    </mat-form-field>
  </form>
</mat-dialog-content>

<mat-dialog-actions align="end">
  <button mat-button (click)="cancel()">Cancelar</button>
  <button mat-raised-button color="primary" (click)="confirm()" [disabled]="form.invalid">Confirmar</button>
</mat-dialog-actions>
