<mat-card class="w-full h-full" appearance="outlined">
  @if (showDia) {
    <mat-card-header class="flex justify-between">
      <mat-card-title>{{ traduccionDiasSemana(menuDiario.dia) }}</mat-card-title>
    </mat-card-header>
  }
  <mat-card-content class="my-4">
    <div class="grid grid-cols-2">
      <app-menu [menu]="menuDiario.menuVegetariano" [showButtons]="false" appearance="raised"
                straightRightBorder hasLink/>
      <app-menu [menu]="menuDiario.menuNoVegetariano" [showButtons]="false" appearance="raised"
                straightLeftBorder hasLink/>
    </div>
  </mat-card-content>
  @if (showButtons) {
    <mat-card-actions class="mt-auto">
      <a mat-button [routerLink]="['/menu-diario/edit/', menuDiario.id]">MODIFICAR</a>
      <button mat-button class="violet-error" (click)="openDialogEliminar()">ELIMINAR</button>
    </mat-card-actions>
  }
</mat-card>
