<div>
  <h2 mat-dialog-title>Confirmar modificación</h2>

  <mat-dialog-content class="my-4">
    <p>Confirmá tu identidad antes de modificar los datos</p>

    <form [formGroup]="form">
      <app-input
        [abstractControl]="this.form.get('password')"
        label="Contraseña"
        maxLength="30"
        minLength="6"
        placeholder="Ingrese su contraseña"
        type="password"
      />
    </form>
  </mat-dialog-content>

  <mat-dialog-actions align="end">
    <button (click)="cancel()" mat-button>Cancelar</button>
    <button (click)="confirm()" [disabled]="form.invalid" color="primary" mat-raised-button>Confirmar</button>
  </mat-dialog-actions>
</div>
