<app-title showVolver [title]="title()"/>

<app-form [formGroup]="form" (submit)="onSubmit()">
  <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
    <app-input
      label="Nombre de la comida"
      type="text"
      placeholder="Nombre"
      [abstractControl]="form.get('nombre')"
      minLength="3"
      maxLength="255"
    />
    <app-input
      label="Precio de la comida"
      type="number"
      placeholder="0"
      [abstractControl]="form.get('precio')"
      textPrefix="$&nbsp;"
      floatLabel="always"
    />
    <app-select
      label="Tipo de comida"
      [abstractControl]="form.get('tipoComida')"
      placeholder="Seleccione un tipo de comida"
      [opciones]="tiposDeComidaOptions"
    />
    <app-input
      label="URL de la imagen"
      type="text"
      placeholder="https://www.ejemplo.com"
      [abstractControl]="form.get('urlImagen')"
      [required]="false"
      minLength="7"
      maxLength="255"
    />
  </div>
  <mat-checkbox formControlName="vegetariana">¿Es vegetariana?</mat-checkbox>
  <app-form-state [loading]="loading" [error]="error"/>
  <app-submit-button [form]="form" [pendingText]="submittingText()" [error]="error" [loading]="loading">{{ title() }}
  </app-submit-button>
</app-form>
