<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
               [mode]="(isHandset$ | async) ? 'over' : 'side'"
               [opened]="(isHandset$ | async) === false"
               class="sidenav"
               fixedInViewport>
    <mat-toolbar><a routerLink="/carta">¿Qué Comemos?</a></mat-toolbar>
    <mat-nav-list>
      @for (item of rootRoutes; track $index) {
        <a
          mat-list-item
          [routerLink]="item.path"
          #link="routerLinkActive"
          routerLinkActive
          [activated]="link.isActive"
          [routerLinkActiveOptions]="{exact: true}"
        >
          {{ item.title }}
        </a>
      }
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <div class="flex justify-between w-full">
        <div>
          @if (isHandset$ | async) {
            <button
              type="button"
              aria-label="Toggle sidenav"
              mat-icon-button
              (click)="drawer.toggle()">
              <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
            </button>
          }
        </div>
        <div>
          @if (authService.isLoggedIn && authService.usuario) {
            <div class="flex items-center gap-4">
              @if (!(isHandset$ | async)) {
                <span>
                Bienvenido {{ authService.usuario.nombre }}
              </span>
              }
              <mat-nav-list>
                @if (authService.hasPermission(Accion.VER_BUZON, Entidad.CLIENTE)) {
                  <a
                    mat-list-item
                    routerLink="buzon"
                    aria-label="Ícono de buzón"
                    routerLinkActive
                    #link="routerLinkActive"
                    [activated]="link.isActive"
                    [routerLinkActiveOptions]="{exact: true}"
                  >
                    <mat-icon class="!m-0">mail</mat-icon>
                  </a>
                }
              </mat-nav-list>

              @if (authService.hasPermission(Accion.VER, Entidad.PEDIDO)) {
                <button
                  mat-icon-button
                  aria-label="Carrito de compras"
                  [matMenuTriggerFor]="carritoMenu"
                  #carritoTrigger="matMenuTrigger"
                  matBadge="{{ carrito.length }}"
                  matBadgeColor="accent"
                >
                  <mat-icon>shopping_cart</mat-icon>
                </button>

                <mat-menu #carritoMenu="matMenu" yPosition="below">
                  <ng-container *ngIf="carrito.length > 0; else vacio">
                    <ng-container *ngFor="let item of carrito.slice(0, 2)">
                      <button mat-menu-item disabled>
                        {{ item.nombre }} ({{ item.cantidad }})
                      </button>
                    </ng-container>
                    <button mat-menu-item (click)="irACarrito()">Ver carrito completo</button>
                  </ng-container>
                  <ng-template #vacio>
                    <button mat-menu-item disabled>El carrito está vacío</button>
                  </ng-template>
                </mat-menu>
              }

              <mat-nav-list>
                <span>
                @if (authService.hasPermission(Accion.EDITAR, authService.usuario.rolName)) {
                  @if (authService.usuario.rolName !== Entidad.ADMINISTRADOR) {
                    <a
                      mat-list-item
                      routerLink="{{getEntidadLink(authService.usuario.rolName)}}/{{ authService.usuario.id }}"
                      routerLinkActive
                      #link="routerLinkActive"
                      [activated]="link.isActive"
                    >
                      <img
                        class="w-10 h-10 p-1 m-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
                        [src]="authService.usuario.imagen"
                        alt="Avatar"
                        defaultImage
                      >
                    </a>
                  } @else {
                    <img
                      class="w-10 h-10 p-1 m-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
                      [src]="authService.usuario.imagen"
                      alt="Avatar"
                      defaultImage
                    >
                  }
                } @else {
                  <img
                    class="w-10 h-10 p-1 rounded-full ring-2 ring-gray-300 dark:ring-gray-500"
                    [src]="authService.usuario.imagen"
                    alt="Avatar"
                    defaultImage
                  >
                }
                </span>
              </mat-nav-list>
              <span class="hidden md:block">
                <button
                  mat-button
                  (click)="authService.logout()"
                >
                  Cerrar sesión
                </button>
              </span>
              <span class="block md:hidden">
                <button
                  mat-icon-button
                  (click)="authService.logout()"
                >
                  <mat-icon aria-label="Logout icon">logout</mat-icon>
                </button>
              </span>
            </div>
          } @else {
            <div class="flex items-center">
              <span class="hidden md:block">
                <a
                  mat-button
                  routerLink="login"
                  routerLinkActive
                >
                  Iniciar sesión
                </a>
              </span>
              <span class="block md:hidden">
                <a
                  mat-icon-button
                  routerLink="login"
                  routerLinkActive
                >
                  <mat-icon aria-label="Login icon">login</mat-icon>
                </a>
              </span>
              <span class="block">
                <a
                  mat-button
                  routerLink="register"
                  routerLinkActive
                >
                  Registrarse
                </a>
              </span>
            </div>
          }
        </div>
      </div>
    </mat-toolbar>
    <div class="sidenav-scroll-wrapper">
      <div class="sidenav-content">
        @if (title) {
          <div class="sticky top-0 z-10 pt-8 pb-2 mb-6">
            <div class="backdrop-glass-filter"></div>
            <div class="relative z-10">
              <h1 class="text-4xl text-center mb-2">{{ title }}</h1>
              @if (extra) {
                <ng-container *ngTemplateOutlet="extra"></ng-container>
              }
            </div>
          </div>
        }
        <div class="padded-content min-h-48">
          <ng-content></ng-content>
        </div>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
