<mat-form-field [floatLabel]="floatLabel" appearance="fill" class="w-full">
  <mat-label>{{ label }}</mat-label>
  <input
    (change)="onChange.emit()"
    [formControl]="control"
    [matAutocomplete]="auto"
    [placeholder]="placeholder"
    [required]="required"
    matInput
    type="text"
  >
  <mat-autocomplete
    #auto="matAutocomplete"
    (optionSelected)="onChange.emit()"
    [displayWith]="displayWithFn"
    autoActiveFirstOption
    autoSelectActiveOption
  >
    @for (opcion of opcionesFiltradas; track opcion.id) {
      <mat-option [value]="opcion">
        @if (optionTemplate) {
          <ng-container *ngTemplateOutlet="optionTemplate; context: { $implicit: opcion }"></ng-container>
        } @else {
          {{ opcion.nombre }}
        }
      </mat-option>
    }
  </mat-autocomplete>

  @if (textPrefix) {
    <span matTextPrefix>{{ textPrefix }}</span>
  }
  @if (this.clearable && this.control.value) {
    <button matSuffix mat-icon-button aria-label="Clear" (click)="this.control.setValue(null); onChange.emit()">
      <mat-icon>close</mat-icon>
    </button>
  }
  @if (errorMessage) {
    <mat-error>{{ errorMessage }}</mat-error>
  }
  @if (hint) {
    <mat-hint>{{ hint }}</mat-hint>
  }
</mat-form-field>
