<!-- Template que se renderiza debajo del titulo -->
<ng-template #extra>
      <span class="flex items-center justify-end mr-6">
        <mat-icon class="text-green-600">eco</mat-icon> = Vegetariano
      </span>
</ng-template>

@if (error || loading || menus.length === 0) {
  <div class="flex justify-center items-center mt-20 text-2xl">
    @if (error) {
      <mat-icon class="error">error</mat-icon>
      <span class="ml-2">Error al cargar los menús</span>
    } @else if (loading) {
      <mat-spinner></mat-spinner>
    } @else if (menus.length === 0) {
      <mat-icon class="error">warning</mat-icon>
      <span class="ml-2">No hay menús disponibles</span>
    }
  </div>
} @else {
  <div class="grid grid-cols-1 md:grid-cols-2 xl:grid-cols-3 gap-4">
    @for (menu of menus; track menu) {
      <app-menu [menu]="menu"></app-menu>
    }
  </div>
}
