@use '@angular/material' as mat;
@use "../theme-colors" as my-theme;

@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
  height: 100%;
}

body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-input {
  width: 100%;
}

:root {
  color-scheme: light;

  @include mat.theme((
    color: (
      primary: my-theme.$primary-palette,
      tertiary: my-theme.$tertiary-palette,
    ),
    typography: Roboto,
    density: 0,
  ));

  @media (prefers-contrast: more) {
    @include my-theme.high-contrast-overrides(color-scheme);
  }
}

.violet-error {
  @include mat.theme((
    color: (
      primary: mat.$violet-palette,
    ),
    typography: Roboto,
    density: 0,
  ));
}

.image-container {
  border-color: var(--mat-sys-outline-variant);
}

mat-card-actions {
  border-top: 1px solid var(--mat-sys-outline);
}

.comida-divider {
  border-color: var(--mat-sys-outline-variant);
}

.error {
  color: var(--mat-sys-error);
}

// Default image styles
.g-skeleton {
  background-color: rgb(224, 224, 224);
  box-shadow: 0 0 0 0 rgba(0, 0, 0, 1);
  transform: scale(1);
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0.7);
  }

  70% {
    transform: scale(1);
    box-shadow: 0 0 0 10px rgba(0, 0, 0, 0);
  }

  100% {
    transform: scale(0.95);
    box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
  }
}
