<app-title-extra showVegetariano/>

@if (error || loading || menusDiarios.length === 0) {
  <div class="flex justify-center items-center mt-20 text-2xl">
    @if (error) {
      <mat-icon class="error">error</mat-icon>
      <span class="ml-2">Error al cargar los menús semanales</span>
    } @else if (loading) {
      <mat-spinner></mat-spinner>
    } @else if (menusDiarios.length === 0) {
      <mat-icon class="error">warning</mat-icon>
      <span class="ml-2">No hay menús semanales</span>
    }
  </div>
<!--  TODO - MODIFICAR PARA QUE SE MUESTRE SI TIENE LOS PERMISOS-->
  @if (!error && !loading && menusDiarios.length === 0 && this.authService.isLoggedIn()) {
    <span class="flex justify-center mt-4">
      <a mat-button routerLink="/menu-diario/create">Creá un menú diario ahora</a>
    </span>
  }
} @else {
  <div class="flex flex-col xl:mx-20 gap-4 xl:gap-8">
    <div class="example-action-buttons">
      <button mat-button (click)="accordion().openAll()">Mostrar todos</button>
      <button mat-button (click)="accordion().closeAll()">Ocultar todos</button>
    </div>
    <mat-accordion multi>
      @for (menuDiario of menusDiarios; track menuDiario) {
        <mat-expansion-panel>
          <mat-expansion-panel-header>
            <mat-panel-title>Menú del {{ traduccionDiasSemana(menuDiario.dia) }}</mat-panel-title>
          </mat-expansion-panel-header>
          <app-menu-diario [menuDiario]="menuDiario" [showButtons]="false" [showDia]="false"></app-menu-diario>
        </mat-expansion-panel>
      }
    </mat-accordion>
  </div>
}
